
<div class="block row">
  <div class="title"><h4>Select your CSV file: </h4></div>
  <div class="block right">
    <ng-csv-import 
      class="import"
      content="csv.content"
      header="csv.header" 
      header-visible="csv.headerVisible" 
      separator="csv.separator"
      separator-visible="csv.separatorVisible"
      result="csv.result"
      encoding="csv.encoding"
      encoding-visible="csv.encodingVisible"
      upload-button-label="csv.uploadButtonLabel"></ng-csv-import>
  </div>
</div> 

<div class="block row"  ng-if="csv.result">
  <div class="content" hljs source="toPrettyJSON(csv.result, 2)"></div>
</div>

<!--div ng-if="csv.content" class="block left">
  <h2>CSV</h2>
  <div class="content"><pre>{{ csv.content }}</pre></div>
</div-->

<footer>
  <div class="twitter">
    <div class="avatar"></div>
    <div>
      <a href="https://twitter.com/bahaaldine">by @bahaaldine with <span class="fa fa-heart"></span></a>
    </div>
  </div>
  <div class="github">
    <div class="icon fa fa-github"></div>
    <div><a href="https://github.com/bahaaldine/angular-csv-import">View on Github</a></div>
  </div>
</footer>